# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
node_modules/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/

# Visual Studio cache
.vs/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment
.env

# Secrets
serviceAccountKey.json
blood_connect-backend/serviceAccountKey.json
